@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --contexify-item-color: #fff;
  --contexify-activeItem-color: #fff;
  --contexify-separator-color: #ccc;
  --byt-card-body-padding: 12px;
  --font-family: 'CangErYuYang', 'OPPOSans', sans-serif;
  /* --byt-font-family: 'OPPOSans', 'CangErYuYang', sans-serif;
  --byt-font-family-code: 'CangErYuYang', 'OPPOSans', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace !important; */
  --byt-bg-image: url('https://bing.img.run/rand.php');
  --icon-transition-duration: 0.3s;
  --icon-radius: 12.8px;
  --icon-size: 60px;
  --icon-gap-x: 24px;
  --icon-gap-y: 24px;
  --icon-max-width: 1350px;
  --icon-opacity: 1;
  --icon-name: block;
  --icon-nameSize: 12px;
  --icon-nameColor: #fff;
  --sidebar-width: 240px;
  --icon-bg-color: #222;
  --wall-mask: 0;
  --wall-blur: 10px;
  /* --contexify-activeItem-bgColor: var(--byt-color-primary); */
}

#__plasmo {
  z-index: 99999;
  font-family: 'CangErYuYang', 'OPPOSans', sans-serif;
  /* background-color: #ccc; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --byt-primary-color: #40a9ff;
    --byt-bg-color: #141414;
  }
}

.contexify {
  --tw-backdrop-blur: blur(12px) !important;
  background-color: var(--byt-bg-color) !important;
  font-size: 14px !important;
  z-index: 9999999 !important;
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) !important;
}

.contexify .contexify_submenu {
  background-color: #222 !important;
}

.flip-clock-card .flip-clock-card-item-inner .top,
.flip-clock-card .flip-clock-card-item-inner .bottom {
  background: #222 !important;
  box-shadow: none !important;
}

.flip-clock-card .flip-clock-card-item-inner .bottom:before {
  background: black !important;
  height: 3px !important;
  opacity: 1 !important;
}

.flip-clock-divider {
  height: auto !important;
  color: #fff !important;
}

html,
body {
  --byt-bg-color: rgba(0, 0, 0, .5);
  scrollbar-width: thin;
  /* background-color: #ccc; */
  scrollbar-color: #eaeaea transparent;
  /* background: var(--byt-bg-image); */
  font-family: var(--font-family);
}

.blur-bg {
  box-shadow: 0px 0px 100px var(--byt-body-bg);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, #fff 5%, #fff 90%, transparent 100%);
}

html[data-theme="dark"] .blur-bg {
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, #000 5%, #000 90%, transparent 100%);
}

html[theme='dark'] {
  --plasmo-csui-color-primary: hwb(147 4% 38%);
}

.slick-list .slick-slide {
  pointer-events: auto !important;
}

.weather-sunny_d {
  background-image: linear-gradient(35deg, #154280 30%, #335693, #a8b3d2);
}

.weather-sunny_n {
  background-image: linear-gradient(45deg, #000012 20%, #29334e)
}

.weather-cloudy_d {
  background-image: linear-gradient(35deg, #054989 30%, #72ade0)
}

/* .weather-cloudy_d:before {
  content: "";
  position: absolute;
  background-image: url(/weather/cloud.webp);
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  opacity: .6;
  background-repeat: no-repeat;
  background-position: right top
} */
.weather-cloudy_n {
  background-image: linear-gradient(35deg, #191a2e 30%, #4c5f7f)
}

.weather-cloud_d {
  background-image: linear-gradient(35deg, #354564 30%, #4c5f7f, #8b9bb8)
}

.weather-cloud_n {
  background-image: linear-gradient(45deg, #211e22 20%, #383a3e)
}

.weather-haze_d {
  background-image: linear-gradient(45deg, #8d8882 20%, #bbb7af)
}

.weather-haze_n {
  background-image: linear-gradient(45deg, #1b1712 20%, #5b4c49)
}

.weather-foggy_d {
  background-image: linear-gradient(45deg, #789fb8 20%, #6386a3)
}

.weather-foggy_n {
  background-image: linear-gradient(45deg, #6c7682 20%, #535d69)
}

.weather-rain_d,
.weather-rain_n {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;

}

.weather-rain_d {
  background-image: linear-gradient(45deg, #789fb8 20%, #6386a3);
  /* background-image: url(/weather/rain_d.webp) */
}

.weather-rain_n {
  background-repeat: no-repeat;
  /* background-image: url(/weather/rain_d.webp) */
}

.weather-rain_d::after,
.weather-rain_n::after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 5px;
  height: 15px;
  background: radial-gradient(#8fd4fc, #52b1f2, #0599fc);
  border-radius: 50%;
  transform: rotateY(45deg);
  animation: raindrop-fall 0.8s infinite linear;
}

@keyframes raindrop-fall {
  0% {
    top: -10%;
    opacity: 1;
  }

  100% {
    top: 110%;
    opacity: 0;
  }
}

.weather-snow_d {
  /* background-image: url(/weather/snow_d.webp) */
  background-image: linear-gradient(45deg, #8d8882 20%, #bbb7af)
}

.weather-snow_n {
  /* background-image: url(/weather/snow_n.webp) */
  background-image: linear-gradient(45deg, #8d8882 20%, #bbb7af)
}

.weather-thunder_d {
  /* background-image: url(/weather/thunder_d.webp) */
}

.weather-thunder_n {
  /* background-image: url(/weather/thunder_n.webp) */
}

.weather-other {
  background-image: linear-gradient(45deg, #8d8882 20%, #bbb7af)
}

.text-shadow {
  filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, .8))
    /* text-shadow: 0 3px 7px rgba(255, 255, 255, .8); */
}


body {
  transition: background .5s;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background: var(--byt-bg-image); */
  z-index: 0;
}

body.change {
  background-size: 110% 110%;
}

body.change::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(var(--wall-blur));
  -webkit-backdrop-filter: blur(var(--wall-blur));
  background-color: rgba(0, 0, 0, var(--wall-mask));
}

body .wallpaper-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 确保视频覆盖整个容器 */
  z-index: 1;
  /* 将视频置于其他内容下方 */
  transition: all .5s;
}