@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --contexify-item-color: #fff;
  --contexify-activeItem-color: #fff;
  --contexify-separator-color: #ccc;
  --byt-card-body-padding: 12px;
  --byt-font-family: 'CangErYuYang', 'OPPOSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
  --byt-font-family-code: 'CangErYuYang', 'OPPOSans', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
}

/* .css-var-r0 {
  --byt-font-family: 'CangErYuYang', 'OPPOSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
  --byt-font-family-code: 'CangErYuYang', 'OPPOSans', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
} */

/* .css-var-ra.byt-card,
.css-var-r8.byt-card,
.css-var-r0.byt-card {
  --byt-card-body-padding: 12px;
} */

#__plasmo {
  z-index: 99999;
  font-family: 'CangErYuYang', 'OPPOSans', sans-serif;
  background-color: #ccc;
}

.contexify {
  --tw-backdrop-blur: blur(12px) !important;
  background-color: var(--byt-bg-color) !important;
  font-size: 14px !important;
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) !important;
}

html,
body {
  --byt-font-family: hwb(147 4% 38%);
  --byt-font-family: 'CangErYuYang', 'OPPOSans', sans-serif;
  --byt-bg-color: rgba(0, 0, 0, .5);
}

html[theme='dark'] {
  --plasmo-csui-color-primary: hwb(147 4% 38%);
}