@font-face {
    font-family: "CangErYuYang";
    font-style: normal;
    font-weight: 400;
    src: url(data-base64:~styles/fonts/CangErYuYang.ttf) format("truetype");
}
@font-face {
    font-family: "Black";
    font-style: normal;
    font-weight: 400;
    src: url(data-base64:~styles/fonts/black.ttf) format("truetype");
}
@font-face {
    font-family: "KaiTi";
    font-style: normal;
    font-weight: 400;
    src: url(data-base64:~styles/fonts/KaiTi.ttf) format("truetype");
}
@font-face {
    font-family: "Song";
    font-style: normal;
    font-weight: 400;
    src: url(data-base64:~styles/fonts/Song.ttf) format("truetype");
}
@font-face {
    font-family: "OPPOSans";
    font-style: normal;
    font-weight: 400;
    src: url(data-base64:~styles/fonts/OPPOSans-Regular.woff) format("woff");
}